@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
body {
  font-family: "Poppins", sans-serif;
  color: gray;
  font-size: 16px;
}

h1 {
  color: hsl(260deg, 8%, 14%);
}

* {
  padding: 0;
  margin: 0;
}

.icon {
  color: hsl(260deg, 8%, 14%);
  font-size: 22px;
  font-weight: 700;
}

ul li {
  list-style-type: none;
  padding: 0;
  margin-right: 30px;
  cursor: pointer;
}

.flex {
  display: flex;
}

.btns {
  margin-top: 20px;
  margin-left: 10rem;
  font-size: 16px;
}

.header {
  justify-content: space-between;
}
.header .icon {
  margin-right: 50px;
}

.login {
  background: none;
  color: hsl(257deg, 7%, 63%);
  margin-right: 15px;
}
.login:hover {
  color: hsl(260deg, 8%, 14%);
}

.register {
  color: white;
  padding: 5px 15px;
  background-color: hsl(180deg, 66%, 49%);
  border-radius: 15px;
}
.register:hover {
  opacity: 0.5;
}

button {
  cursor: pointer;
  font-weight: 700;
  border-color: transparent;
  font-size: 16px;
}

.header {
  padding: 20px 100px;
}

.main {
  padding: 0 0 0 140px;
}

.right-part img {
  overflow: hidden;
}

.left-part h1 {
  color: hsl(260deg, 8%, 14%);
  font-size: 65px;
  font-weight: 700;
  line-height: 70px;
  margin-top: 80px;
}

.left-part {
  width: 650px;
}

.left-part p {
  width: 400px;
  margin-top: 1em;
}

.start-btn {
  margin-top: 20px;
  padding: 12px 35px;
  font-weight: 700;
  font-size: 16px;
  color: white;
  background-color: hsl(180deg, 66%, 49%);
  border-radius: 20px;
}
.start-btn:hover {
  opacity: 0.5;
}

.search-part {
  background-color: #F0F1F6;
  max-height: 100%;
  margin-top: 10em;
}
.search-part .search-bg {
  padding: 10px 140px;
}

form {
  position: absolute;
  margin-top: -4rem;
  width: 70%;
}

form input {
  width: 100%;
  padding: 0px 10px;
  font-size: 16px;
  border-radius: 5px;
  font-weight: 500;
}

form button {
  margin-left: 15px;
  padding: 15px 30px;
  border-radius: 5px;
  background-color: hsl(180deg, 66%, 49%);
  color: white;
}
form button:hover {
  background-color: #95E7E7;
}

span i {
  font-size: 14px;
  color: #3A3053;
  position: absolute;
  z-index: 10;
  margin-top: -5rem;
}

.btm-container .txt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 30%;
  width: 480px;
  text-align: center;
}

.card {
  width: 19em;
  height: 10em;
  background-color: #FFF;
  padding: 20px;
  padding-bottom: 27px;
  margin-right: 40px;
  margin-top: 30px;
}
.card .title {
  font-size: 18px;
  font-weight: 600;
  color: hsl(260deg, 8%, 14%);
  margin-top: 10px;
}

.card-icon {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  background-color: hsl(260deg, 8%, 14%);
  margin-top: -4em;
}
.card-icon img {
  margin: 18px 20px;
}

.cards {
  display: flex;
}

.el-1 {
  margin-top: 70px;
}

.el-2 {
  margin-top: 90px;
}

.footer {
  margin-top: 15px;
}

.boost-content {
  background-color: #3A3053;
  text-align: center;
  padding: 60px;
}
.boost-content h1 {
  color: white;
}
.boost-content button {
  margin-top: 10px;
  padding: 10px 30px;
  border-radius: 20px;
  background-color: hsl(180deg, 66%, 49%);
  color: white;
}
.boost-content button:hover {
  background-color: #95E7E7;
}

.footer-main {
  padding: 25px;
  text-align: center;
  background-color: hsl(260deg, 8%, 14%);
  color: white;
  font-size: 14px;
}
.footer-main .icon {
  color: white;
  margin-left: 60px;
}
.footer-main .menu-bar {
  margin-top: 10px;
  color: hsl(0deg, 0%, 75%);
}
.footer-main .menu-bar:hover {
  color: cyan;
}
.footer-main .mid-sec {
  display: flex;
  margin-left: 200px;
}
.footer-main img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.footer-main .social-icons {
  margin-left: 120px;
  margin-top: 15px;
}
.footer-main .social-icons img {
  margin-right: 20px;
}

.menu-bar {
  visibility: hidden;
  margin-top: 50px;
  width: 100%;
  height: 100px;
  position: fixed;
  margin-left: -120px;
  z-index: 50;
  text-align: center;
}
.menu-bar .f {
  margin-top: 150px;
}
.menu-bar .register {
  margin-top: 20px;
}
.menu-bar div {
  margin-top: 20px;
}

.App {
  max-height: 100%;
  overflow-x: hidden;
}

form {
  background-color: #3A3053;
  padding: 20px;
  border-radius: 5px;
}

.short-link:nth-child(1) {
  margin-top: 45px;
}

.menu img {
  display: none;
  width: 50px;
  height: 70px;
  margin-right: -50px;
}

.mobile-err {
  display: none;
}

.btm-container .copied {
  background-color: #3A3053;
}

.short-link .link-bg {
  background-color: #FFF;
  width: 86%;
  padding: 15px 20px 0 20px;
  margin-top: 12px;
  border-radius: 5px;
  justify-content: space-between;
}
.short-link .link-bg button {
  padding: 0px 25px;
  border-radius: 5px;
  background-color: hsl(180deg, 66%, 49%);
  color: #FFF;
  font-weight: 600;
  height: 40px;
  margin-bottom: 15px;
}
.short-link .link-bg a {
  color: hsl(180deg, 66%, 49%);
  margin-right: 20px;
  margin-top: 5px;
}
.short-link .link-bg p {
  color: hsl(260deg, 8%, 14%);
}

@media screen and (max-width: 1000px) {
  .short-link {
    width: 85%;
  }

  .desk-err {
    display: none;
  }

  .mobile-err {
    display: block;
  }

  .search-part {
    width: 100%;
    padding: 0;
  }

  .link-bg {
    flex-direction: column;
  }
  .link-bg .link-wrap {
    flex-wrap: wrap;
  }
  .link-bg .link-wrap button {
    margin-top: 10px;
    width: 100%;
  }

  .right-part img {
    width: 100%;
  }

  .main {
    padding: 0 40px;
  }

  .header {
    padding: 10px 50px;
  }

  .search-part .search-bg {
    padding: 10px 40px;
  }

  .cards .card {
    width: 17em;
    height: 13em;
    padding: 10px 20px;
  }
  .cards .card p {
    width: 300px;
  }

  .menu-bar {
    padding: 0;
    position: fixed;
  }

  .search-part {
    margin-left: 0em;
  }

  .footer-main .social-icons {
    padding: 0px;
    margin-left: 0;
  }
}
@media screen and (max-width: 1100px) {
  .menu-bar {
    visibility: visible;
    background-color: #3A3053;
    width: 100%;
    height: 100%;
    padding: 10px 50px;
    color: white;
  }

  .header ul li, .header .btns {
    display: none;
  }
  .header .icon {
    font-size: 35px;
  }
  .header .menu img {
    display: block;
  }

  .footer-main {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-main .social-icons {
    margin-left: 0;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .cards .card {
    width: 18em;
    height: 10em;
    margin-left: 40px;
    margin-top: 60px;
  }

  .btm-container .txt {
    width: 100%;
    text-align: center;
    padding: 50px 20px;
  }

  .slogan {
    flex-wrap: wrap-reverse;
  }

  .main-title {
    font-size: 10px;
  }

  .left-part {
    text-align: center;
  }

  .left-part p {
    width: 100%;
  }

  .form-els {
    display: flex;
    flex-wrap: wrap;
  }

  form {
    margin-top: -6rem;
    margin-bottom: 20%;
  }
  form input {
    padding: 20px;
  }
  form button {
    margin-top: 20px;
    width: 100%;
    margin-left: 0;
  }

  .short-link:nth-child(1) {
    margin-top: 100px;
  }

  .short-link .link-bg {
    width: 100%;
  }
}
@media screen and (max-width: 1400px) {
  .card {
    width: 20em;
    height: 10em;
  }

  .btns {
    margin-right: 20px;
  }
}
@media screen and (max-width: 1300px) {
  .card {
    width: 18em;
    height: 11em;
  }
}
@media screen and (max-width: 1200px) {
  .card {
    width: 20em;
    height: 12em;
  }
}
@media screen and (max-width: 1150px) {
  .card {
    width: 20em;
    height: 14em;
  }
}
@media screen and (max-width: 1100px) {
  .card {
    width: 20em;
    height: 15em;
  }
}
@media screen and (max-width: 1090px) {
  .card {
    width: 20em;
    height: 15em;
  }
}/*# sourceMappingURL=app.css.map */